body{
    background-color: black;
    color: limegreen;
}
a{
    color: white;
}
hr{
    color: black;
}
h3{
    color: limegreen;
    text-align: center;
}
.center{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.titulo{
    background-color:black;
}
.botaotam{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width:160px;
    height:50px
}
a.botaotam {
    line-height: 1.5 !important;
}